* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 10px 5px;
    color: white;
}

#container {
    width: 1000px;
    background-image: url('./../../../resources/img/滑稽.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.version-div {
    border: 2px dotted whitesmoke;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}

.version-div h2 {
    color: white;
}

.buginfo {
    display: flex;
    flex-direction: column;
}

.buginfo div {
    padding: 0 10px;
    width: 900px;
    word-wrap: break-word;
}