* {
    padding: 0;
    margin: 0;
}

#container {
    width: 850px;
    background-image: url("../../img/可莉/可莉14.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    color: white;
}

h1 {
    color: rgb(184, 58, 58);
    font-size: 40px;
    font-style: italic;
    margin: 10px 20px;
}

h3 {
    color: rgb(201, 132, 59);
    margin: 10px 50px;
    text-shadow: 1px 0px 0px white;
}

.box-text {
    fill: url(#SVGID_1_);
    font-size: 36px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

svg {
    position: absolute;
}

img {
    width: 40px;
    height: 40px;
}

.content {
    margin-top: 5px
}

h2 {
    color: white;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 10px 10px 0 0;
    margin: 0 10px;
    padding: 5px;
    line-height: 40px;
    text-align: center;
}


.content-div {
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
}

.content-box {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 10px 10px 10px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}


.content-box .children-box {
    padding: 20px 10px;
    display: flex;
    width: 30.81%;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;

}

.children-box:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.1);
}

.left {
    width: 40px;
    height: 40px;
    background-image: url(../../img/icon.png);
    background-size: 500px 1500px;
    background-repeat: no-repeat;
}

.right {
    display: flex;
    width: 80%;
    padding-left: 10px;
    flex-direction: column;
}

.right span:nth-child(2) {
    margin-top: 5px;
    font-size: 12px;
    text-align: left;
    color: rgb(210, 204, 204);
}